/*                KEY POSITIONS

  ╭────────────────────────╮ ╭────────────────────────╮
  │  0   1   2   3   4   5 │ │  6   7   8   9  10  11 │
  │ 10  11  11  12  13  14 │ │ 15  16  17  18   9  19 │
  │ 20  11  21  22  23  24 │ │ 25  26  27  28   9  29 │
  ╰───────────╮ 30  31  32 │ │ 33  34  35 ╭───────────╯
              ╰────────────╯ ╰────────────╯       */

compatible = "zmk,combos";

// Letters
combo_q {
    key-positions = <1 2>;
    bindings = <&kp Q>;
};
combo_z {
    key-positions = <3 4>;
    bindings = <&kp Z>;
};
// Controls
combo_esc {
    key-positions = <15 26>;
    bindings = <&kp ESC>;
};
combo_ent {
    key-positions = <19 20 21>;
    bindings = <&kp ENTER>;
};
combo_bspc {
    key-positions = <21 22>;
    bindings = <&kp BSPC>;
};
combo_del {
    key-positions = <6 7>;
    bindings = <&kp DEL>;
};
// Symbols
combo_minus {
    key-positions = <16 17>;
    bindings = <&kp MINUS>;
};
combo_equal {
    key-positions = <18 19>;
    bindings = <&kp KP_EQUAL>;
};
combo_squo {
    key-positions = <16 28>;
    bindings = <&kp SQT>;
};
combo_dquo {
    key-positions = <19 31>;
    bindings = <&kp DQT>;
};
