/*                KEY POSITIONS
     X                                              X
  ╭────────────────────────╮ ╭────────────────────────╮
  │  0   1   2   3   4   5 │ │  6   7   8   9  10  11 │
  │ 12  13  14  15  16  17 │ │ 18  19  20  21  22  23 │
  │ 24  25  26  27  28  29 │ │ 30  31  32  33  34  35 │
  ╰───────────╮ 36  37  38 │ │ 39  40  41 ╭───────────╯
              ╰────────────╯ ╰────────────╯       */

compatible = "zmk,combos";

// Letters
combo_q {
    key-positions = <1 2>;
    bindings = <&kp Q>;
};
combo_qu {
    key-positions = <2 3>;
    bindings = <&qu_macro>;
};
combo_z {
    key-positions = <3 4>;
    bindings = <&kp Z>;
};
// Controls
combo_esc {
    key-positions = <15 26>;
    bindings = <&kp ESC>;
};
combo_clear {
    key-positions = <4 5>;
    bindings = <&kp K_CANCEL>;
};
combo_ent {
    key-positions = <19 20 21>;
    bindings = <&kp ENTER>;
};
combo_tab {
    key-positions = <14 15 16>;
    bindings = <&kp TAB>;
};
combo_bspc {
    key-positions = <21 22>;
    bindings = <&kp BSPC>;
};
combo_del {
    key-positions = <6 7>;
    bindings = <&kp DEL>;
};
combo_capsword {
    key-positions = <14 15 20 21>;
    bindings = <&caps_word>;
};
combo_numword {
    key-positions = <37 40>;
    bindings = <&num_word NUMB>;
};
// Symbols
combo_minus {
    key-positions = <16 17>;
    bindings = <&kp MINUS>;
};
combo_under {
    key-positions = <37 38>;
    bindings = <&kp UNDER>;
};
combo_equal {
    key-positions = <18 19>;
    bindings = <&kp KP_EQUAL>;
};
combo_squo {
    key-positions = <16 28>;
    bindings = <&kp SQT>;
};
combo_dquo {
    key-positions = <19 31>;
    bindings = <&kp DQT>;
};
combo_semi {
    key-positions = <20 33>;
    bindings = <&kp SEMI>;
};
combo_colon {
    key-positions = <15 28>;
    bindings = <&kp COLON>;
};
combo_qmark {
    key-positions = <20 32>;
    bindings = <&kp QMARK>;
};
combo_exclm {
    key-positions = <21 33>;
    bindings = <&kp EXCL>;
};
// Mods
combo_l_shift {
    key-positions = <26 27>;
    bindings = <&sk LSHIFT>;
};
combo_l_gui {
    key-positions = <27 28>;
    bindings = <&sk LGUI>;
};
combo_l_ctrl {
    key-positions = <25 26>;
    bindings = <&sk LCTRL>;
};
combo_l_alt {
    key-positions = <28 29>;
    bindings = <&sk LALT>;
};
combo_r_shift {
    key-positions = <32 33>;
    bindings = <&sk RSHIFT>;
};
combo_r_gui {
    key-positions = <31 32>;
    bindings = <&sk LGUI>;
};
combo_r_ctrl {
    key-positions = <33 34>;
    bindings = <&sk LCTRL>;
};
combo_r_alt {
    key-positions = <30 31>;
    bindings = <&sk LALT>;
};
// Vim
combo_ctrl_q {
    key-positions = <7 8 9>;
    bindings = <&kp LC(W)>;
};
combo_save_vim {
    key-positions = <19 20 21 22>;
    bindings = <&save_vim>;
};
combo_quit_vim {
    key-positions = <26 27 28>;
    bindings = <&quit_vim>;
};
