/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/*                KEY POSITIONS
     X                                              X
  ╭────────────────────────╮ ╭────────────────────────╮
  │  0   1   2   3   4   5 │ │  6   7   8   9  10  11 │
  │ 12  13  14  15  16  17 │ │ 18  19  20  21  22  23 │
  │ 24  25  26  27  28  29 │ │ 30  31  32  33  34  35 │
  ╰───────────╮ 36  37  38 │ │ 39  40  41 ╭───────────╯
              ╰────────────╯ ╰────────────╯       */

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
   &none &kp UNDER &kp C    &kp F     &kp K  &kp B       &kp X     &kp J  &kp O      &kp U    &kp RPAR     &none
   &none &kp R     &kp S    &kp T     &kp H  &kp P       &kp M     &kp N  &kp A      &kp I    &key_repeat  &none
   &none &kp V     &kp W    &kp G     &kp D  &kp LPAR    &kp FSLH  &kp L  &kp COMMA  &kp DOT  &kp Y        &none
                            &kp LGUI  &mo 1  &kp SPACE   &kp E     &mo 2  &kp RALT
                        >;
                };
                lower_layer {
                        bindings = <
   &none &kp UNDER &kp C    &kp F     &kp K  &kp B       &kp X     &kp J  &kp O      &kp U    &kp RPAR     &none
   &none &kp R     &kp S    &kp T     &kp H  &kp P       &kp M     &kp N  &kp A      &kp I    &key_repeat  &none
   &none &kp V     &kp W    &kp G     &kp D  &kp LPAR    &kp FSLH  &kp L  &kp COMMA  &kp DOT  &kp Y        &none
                            &kp LGUI  &mo 1  &kp SPACE   &kp E     &mo 2  &kp RALT
                        >;
                };

                raise_layer {
                        bindings = <
   &none &kp UNDER &kp C    &kp F     &kp K  &kp B       &kp X     &kp J  &kp O      &kp U    &kp RPAR     &none
   &none &kp R     &kp S    &kp T     &kp H  &kp P       &kp M     &kp N  &kp A      &kp I    &key_repeat  &none
   &none &kp V     &kp W    &kp G     &kp D  &kp LPAR    &kp FSLH  &kp L  &kp COMMA  &kp DOT  &kp Y        &none
                            &kp LGUI  &mo 1  &kp SPACE   &kp E     &mo 2  &kp RALT
                        >;
                };
        };
};

/ {
    combos {
        compatible = "zmk,combos";
        // Letters
        combo_q {
            key-positions = <1 2>;
            bindings = <&kp Q>;
        };
        combo_qu {
            key-positions = <2 3>;
            bindings = <&kp Q &kp U>;
        };
        combo_z {
            key-positions = <3 4>;
            bindings = <&kp Z>;
        };
        // Controls
        combo_esc {
            key-positions = <15 26>;
            bindings = <&kp ESC>;
        };
        combo_ent {
            key-positions = <19 20 21>;
            bindings = <&kp ENTER>;
        };
        combo_bspc {
            key-positions = <21 22>;
            bindings = <&kp BSPC>;
        };
        combo_del {
            key-positions = <6 7>;
            bindings = <&kp DEL>;
        };
        // Symbols
        combo_minus {
            key-positions = <16 17>;
            bindings = <&kp MINUS>;
        };
        combo_equal {
            key-positions = <18 19>;
            bindings = <&kp KP_EQUAL>;
        };
        combo_squo {
            key-positions = <16 28>;
            bindings = <&kp SQT>;
        };
        combo_dquo {
            key-positions = <19 31>;
            bindings = <&kp DQT>;
        };
    };
};
