/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <behaviors/num_word.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include "corne.h"
#include "zmk-helpers/helper.h"
#include "zmk-helpers/key-labels/42.h"

/* Globals */

#define QUICK_TAP_MS 175

&sk {
  release-after-ms = <900>;
  quick-release;
};

&lt {
  flavor = "balanced";
  tapping-term-ms = <200>;
  quick-tap-ms = <QUICK_TAP_MS>;
};

#define TW(keycode) &tw keycode keycode
#define RT(keycode) &rt keycode 0

/ {
        combos {
                #include "combos.dtsi"
        };

        macros {
                #include "macros.dtsi"
        };

        behaviors {
                tw: tmux_window_hold_tap {
                        compatible = "zmk,behavior-hold-tap";
                        #binding-cells = <2>;
                        tapping-term-ms = <200>;
                        quick-tap-ms = <QUICK_TAP_MS>;
                        flavor = "balanced";
                        bindings = <&tmux_window>, <&kp>;
                };
                rt: repeat_tap {
                        compatible = "zmk,behavior-hold-tap";
                        #binding-cells = <2>;
                        flavor = "tap-preferred";
                        tapping-term-ms = <160>;
                        bindings = <&mo>, <&key_repeat>;
                        display-name = "Repeat-Layer-Tap";
                };
        };

        keymap {
                compatible = "zmk,keymap";
                base_layer {
                        display-name = "BASE";
                        bindings = <
   &none &kp COMMA   &kp U        &kp O        &kp W           &kp P          &kp LPAR    &kp K       &kp L        &kp F     &kp X        &none
   &none &kp I       &kp E        &kp A        &kp C           &kp Y          &kp M       &kp T       &kp H        &kp S     &kp N        &none
   &none &kp DOT     &kp FSLH     &kp UNDER    &kp G           &key_repeat    &kp RPAR    &kp D       &kp J        &kp V     &kp B        &none
                                  &sl SHRT     &sl LSYM        &lt NAVI SPACE &kp R       RT(RSYM)    &sl SHRT
                        >;
                };
                numb_layer {
                        display-name = "NUMB";
                        bindings = <
   &none &none     &kp PLUS &kp ASTRK &kp BSLH  &none   &none        &trans &none   &kp HASH &trans       &none
   &none &kp N6    &kp N4   &kp N0    &kp N2    &none   &none        &kp N3 &kp N1  &kp N5   &kp N7       &none
   &none &kp PRCNT &none    &kp LS(G) &kp N8    &trans  &kp LS(G)    &kp N9 &trans  &trans   &kp PRCNT    &none
                            &trans    &trans    &trans  &kp K_CANCEL &trans &trans
                        >;
                };
                /* Is SYMB actually used? */
                symb_layer {
                        display-name = "SYMB";
                        bindings = <
   &none &trans    &kp PLUS &kp ASTRK &kp BSLH  &none     &none        &trans    &kp AT   &kp HASH &trans       &none
   &none &kp CARET &kp LPAR &kp RPAR  &kp TILDE &none     &none        &kp GRAVE &kp LBKT &kp RBKT &kp DOLLAR   &none
   &none &kp PRCNT &kp LT   &kp GT    &kp PIPE  &trans    &none        &kp AMPS  &kp LBRC &kp RBRC &kp PRCNT    &trans
                            &trans    &trans    &trans    &kp K_CANCEL &trans    &trans
                        >;
                };
                lsym_layer {
                        display-name = "LSYM";
                        bindings = <
   &none &trans    &kp PLUS &kp ASTRK &kp BSLH  &none   &none        &trans         &kp AT  &kp HASH &trans      &none
   &none &kp CARET &kp LPAR &kp RPAR  &kp TILDE &none   &none        TW(N3)         TW(N1)  TW(N5)   TW(N7)      &none
   &none &kp PRCNT &kp LT   &kp GT    &kp PIPE  &trans  &none        TW(N9)         &trans  &trans   &kp PRCNT   &none
                            &trans    &trans    &trans  &kp K_CANCEL &num_word NUMB &trans
                        >;
                };
                rsym_layer {
                        display-name = "RSYM";
                        bindings = <
   &none &trans    &kp PLUS &kp ASTRK &kp BSLH       &none    &none        &trans    &kp AT   &kp HASH &trans       &none
   &none TW(N6)    TW(N4)   TW(N0)    TW(N2)         &none    &none        &kp GRAVE &kp LBKT &kp LBKT &kp DOLLAR   &none
   &none &kp PRCNT &none    &kp LS(G) TW(N8)         &trans   &none        &kp AMPS  &kp LBRC &kp RBRC &kp PRCNT    &none
                            &trans    &num_word NUMB &trans   &kp K_CANCEL &trans &trans
                        >;
                };
                navi_layer {
                        display-name = "NAVI";
                        bindings = <
   &none &none         &kp LEFT        &kp UP           &kp RIGHT   &kp HOME  &none    &trans    &kp LA(S)  &kp LA(G) &none     &none
   &none &kp LG(LS(T)) &kp LC(LS(TAB)) &mt LCTRL DOWN   &kp LC(TAB) &none     &none    &kp H     &kp J      &kp K     &kp L     &none
   &none &trans        &none           &kp PG_UP        &kp PG_DN   &kp END   &none    &kp LA(H) &kp LA(J)  &kp LA(K) &kp LA(L) &none
                                       &trans           &trans      &trans    &mo WNAV &trans    &trans
                        >;
                };
                wnav_layer {
                        display-name = "WNAV";
                        bindings = <
   &none &none      &none      &none      &none      &none   &none   &trans      &lca_w       &lca_e      &lca_m     &none
   &none &kp LA(N6) &kp LA(N4) &kp LA(N0) &kp LA(N2) &none   &none   &kp LA(N3)  &kp LA(N1)   &kp LA(N5)  &kp LA(N7) &none
   &none &none      &none      &none      &kp LA(N8) &none   &none   TMUX_LT     TMUX_DN      TMUX_UP     TMUX_RT    &none
                               &trans     &trans     &trans  &trans  &trans      &trans
                        >;
                };
                shrt_layer {
                        display-name = "SHRT";
                        bindings = <
   &none &kp LG(Q) &kp LG(W) &kp LG(E) &kp LG(R) &kp LG(T)   &bt BT_CLR    &none       &kp C_PREV   &kp C_NEXT    &none       &none
   &none &kp LG(A) &kp LG(S) &kp LG(D) &kp LG(F) &kp LG(G)   &bt BT_SEL 0  &kp C_PP    &kp C_VOL_DN &kp C_VOL_UP  &kp C_MUTE  &none
   &none &kp LG(Z) &kp LG(X) &kp LG(C) &kp LG(V) &kp LG(B)   &bt BT_SEL 1  &kp F13     &kp C_BRI_DN &kp C_BRI_UP  &none       &none
                             &trans    &trans    &trans      &kp K_CANCEL  &trans      &trans
                        >;
                };
        };
};
